@font-face {
    font-family:"Bold";
    src: url("fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2");
    font-weight:700;
    font-style: normal;
}
@font-face {
    font-family: "Book";
    src: url("fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Medium";
    src: url("fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2");
    font-weight:500;
    font-style: normal;
}
@font-face {
    font-family:Normal ;
    src: url("/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Small";
    src: url("fonts/KFOmCnqEu92Fr1Mu4mxK.woff2");
    font-weight: 300;
    font-style: normal;
}
*{
    margin:0;
    padding:0;
}
.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
}


.logo_1{
    color:#ff385c;
}
.logo_1:hover{
    cursor:pointer;
}
.logo_2{
    display: none;
    color:#ff385c;
}

.head_icon{
    height:30px;
    width:auto;
}
.any_section{
    display: flex;
    padding:10px;
    border:1px solid lightgrey;
    border-radius: 35px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    height:25px;
    cursor:pointer;
}
.any_section:hover{
    box-shadow:0 5px 10px rgb(0 0 0 / 14%);
}
.nav_last_button{
    display: flex;
    align-items: center;
    gap:10px;
    border:1px solid lightgray;
    border-radius:30px;
    justify-content: center;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor:pointer;
    opacity: .6;
}
.nav_last_button:hover{
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%) ;
}
.navbar1_desktop{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:20px 6%;
}
.navbar1_tab{
    display:none;
}
.host_section{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:5px;
}
.navbar2_img{
    height:26px;
    width:26px;
}
.navbar2{
    display:flex;
    justify-content: space-between;
    overflow-x: scroll;
    padding-top: 20px;
    border-top: 1px solid #ebe8e8;
    padding-left:50px;
    padding-right: 5%;
}

.anywhere_button{
    border:none;
    background-color: white;
}
.anywhere{
    color:#222222;
    text-decoration: none;
    font-size: 15px;
    font-weight:500;
    border-top: none;
    border-left:none;
    border-bottom:none;
    border-right:1px solid #717171;
    padding:0px 10px;
    font-family:Normal ;
}
.any_week_button{
    border:none;
    background-color:white;
}
.any_week{
    color:#222222;
    text-decoration:none;
    font-size: 15px;
    font-weight:500;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:1px solid #717171;
    padding:0px 10px;
    font-family: "Normal";
}
.add_guests_button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    gap:10px;
    background-color:white;
    border:none;
    padding-right:0px;
}
.add_guests{
    color:#717171;
    text-decoration:none;
    font-size:15px;
    font-weight:500;
    font-family: "Book";
}
.search_icon{
    display: block; 
    fill: none; 
    height: 12px; 
    width: 12px;
    stroke: currentcolor; 
    stroke-width: 5.33333;
    overflow: visible;
    padding:10px;
    border-radius:50px;
    background-color: #ff385c;
    color:white;
    cursor: pointer;
}
.become_host{
    color:#222222;
    font-size: 15px;
    font-weight:500;
    text-decoration:none;
    padding:12px 16px;
    border-radius: 25px;
    padding-right: 0px;
    font-family: "Normal";
}
.become_host:hover{
    background-color: #f6f7f7;
}
.globe_icon{
    cursor:pointer;
    padding:10px;
    border:none;
    border-radius:20px;
}
.globe_icon:hover{
    background-color:#f6f7f7;
}
.navbar2_txt{
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    font-family: Small;
    letter-spacing: .3px;
}
.nav2_small_section{
    min-width:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding:10px;
    opacity: .5;
    cursor:pointer;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:0px;
    padding-right:0px;
}
.nav2_small_section:hover{
    opacity:1;
    border-bottom: 2px solid gray;
}
.any_mob{
    display: none;
}
.filter{
    display: flex;
    gap:10px;
    padding:10px;
    border-radius: 10px;
    border:1px solid lightgray;
    background-color: white;
    cursor: pointer;
    font-family: "Normal";
    font-size: 12px;
    color:#222222;
    

}
.arrow_fix{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border:1px solid lightgray;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
}
.nav_fix{
    display: flex;
    gap:20px;
    position: fixed;
    right:0;
    top:110px;
    z-index: 50;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 6%;
}

.main{
   
    margin:auto;
    margin-top: 235px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-row-gap:40px;
    grid-column-gap:24px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 70px;

}

.rating{
    display: flex;
    align-items: center;
    gap:5px;
}
.place_rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom:3px;
}
.place_headline{
    color:#222222;
    font-weight:600;
    font-size:15px;
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.rating_value{
    color:#222222;
    font-size: 15px;
    font-weight:500;
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    line-height:19px;
}
.place_txt{
    color:#717171;
    font-size:15px;
    padding-bottom: 3px;
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    letter-spacing: .5px;
}
.place_charge{
    padding-top: 5px;
    font-size: 15px;
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.heart_img{
    display: block;
    float:right;
    padding:15px;
    fill: rgba(0, 0, 0, 0.5);
    height: 24px;
    width: 24px;
    stroke: white;
    stroke-width: 2;
    overflow: visible;
}
.arrow_left{
    height:10px;
    width:10px;
}
.arrow_left_button{
    background-color: white;
    padding-top: 5px;
    border-radius: 52px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border:none;
    position: absolute;
    left:8%;
    top:50%;
    display: none;
}
.arrow_right{
    height:10px;
    width:10px;
}
.arrow_right_button{
    background-color: white;
    padding-top: 5px;
    border-radius: 52px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border:none;
    position:absolute;
    right:8%;
    top:50%;
    display: none;
}
.minhphu{
    height:19vw;
    background-image: url(images/minhphu/minhphu-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}

.minhphu:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
} 
.fagu{
    height:19vw;
    background-image: url(images/fagu/fagu-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.fagu:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
} 
.munnar{
    height:19vw;
    background-image: url(images/munnar/munnar-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.munnar:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
} 
.delhi{
    height:19vw;
    background-image: url(images/delhi/delhi-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.delhi:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
} 
.shimla{
    height:19vw;
    background-image: url(images/shimla/shimla-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.shimla:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
} 
.jibhi{
    height:19vw;
    background-image: url(images/jibhi/jibhi-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.jibhi:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
} 
.tambon{
    height:19vw;
    background-image: url(images/tambon/tambon-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.tambon:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
} 
.kozhi{
    height:19vw;
    background-image: url(images/kozhi/kozhi-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.kozhi:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
} 
.sigiri{
    height:19vw;
    background-image: url(images/kozhi/kozhi-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.sigiri:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
} 
.muppai{
    height:19vw;
    background-image: url(images/muppai/muppai-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.muppai:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
} 
.chiang{
    height:19vw;
    background-image: url(images/chiang/chiang-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.chiang:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.kalpeta{
    height:19vw;
    background-image: url(images/kalpeta/kalpeta-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.kalpeta:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.first_kerala{
    height:19vw;
    background-image: url(images/first-kerala/first_kerala-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.first_kerala:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.second_kerala{
    height:19vw;
    background-image: url(images/second_kerala/second_kerala-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.second_kerala:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.tissam{
    height:19vw;
    background-image: url(images/tissam/tissam-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.tissam:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.second_jibhi{
    height:19vw;
    background-image: url(images/second-jibhi/second_jibhi-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.second_jibhi:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.kopha{
    height:19vw;
    background-image: url(images/kopha/kopha-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.kopha:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.tandi{
    height:19vw;
    background-image: url(images/tandi/tandi-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.tandi:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.mueang{
    height:19vw;
    background-image: url(images/mueang/mueang-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.mueang:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.kotta{
    height:19vw;
    background-image: url(images/kotta/kotta-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.kotta:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.tambon{
    height:19vw;
    background-image: url(images/tambon/tambon-1.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.tambon:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.yela{
    height:19vw;
    background-image: url(images/tambon/tambon-13.webp);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.yela:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.mae{
    height:19vw;
    background-image: url(images/muppai/muppai-5.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.mae:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.khet{
    height:19vw;
    background-image: url(images/muppai/muppai-5.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    cursor:pointer;
    position:relative;
}
.khet:hover .arrow_right_button{
    display: flex;
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
}
.footer_button{
    display: flex;
    border:none;
    gap:10px;
    align-items: center;
    padding:5px;
    background-color: white;
}
.footer_desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    width:98%;
    padding-left: 5%;

}
.footer_mobile{
    display: none;
}
.copy_right{
    font-size:15px;
    line-height:18px;
    color:#222222;
    min-width: 120px;
    padding-right: 5px;
    font-family: Book;
}
.footer_txt{
    font-size: 15px;
    line-height: 18px;
    color:#222222;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    font-family: Book;
    cursor: pointer;
}
.footer_txt:hover{
    text-decoration:underline;
}
.footer_txt-2{
    font-size:14px;
    line-height:18px;
    color:#222222;
    padding-left:5px;
    padding-right:5px;
    font-family: Medium;
    cursor: pointer;
}
.footer_txt-2:hover{
    text-decoration:underline;
}
.footer_section-2{
    text-align: center;
    min-width: 350px;
    padding-right: 7%;
}
.english_globe{
    display: flex;
    align-items: center;
    gap:10px;
}
.button_section{
    display: inline-block;
    padding-right:10px;
}

@media screen and (max-width:1100px){
    .logo_1{
        display: none;
    }
    .logo_2{
        display: block;
    }
    .navbar1{
        gap:9%;
    }
    .navbar2{
        padding-left:14px;
    }
    .main{
        grid-template-columns: repeat(3, 1fr);
        margin-right: 3%;
        margin-left:3%;
        
    }
    .minhphu{
        height:28vw;
    }
    .fagu{
        height:28vw;
    }

    .munnar{
        height:28vw;
    }
    .delhi{
        height:28vw;
    }
    .shimla{
        height: 28vw;
    }
    .jibhi{
        height:28vw;
    }
    .tambon{
        height:28vw;
    }
    .kozhi{
        height:28vw;
    }
    .sigiri{
        height:28vw;
    }
    .muppai{
        height:28vw;
    }
    .chiang{
        height:28vw;
    }
    .kalpeta{
        height:28vw;
    }
    .first_kerala{
        height:28vw;
    }
    .second_kerala{
        height:28vw;
    }
    .tissam{
        height:28vw;
    }
    .second_jibhi{
        height:28vw;
    }
    .kopha{
        height:28vw;
    }
    .tandi{
        height:28vw;
    }
    .mueang{
        height:28vw;
    }
    .kotta{
        height:28vw;
    }
    .yela{
        height:28vw;
    }
    .mae{
        height: 28vw;
    }
    .khet{
        height: 28vw;
    }
}
@media  screen and (max-width:949px) {
    .any_section{
        margin-left:-3%;
    }
    .main{
        margin-left: 4%;
        margin-right: 4%;;
        grid-template-columns: repeat(2, 1fr);
        
    }
    .minhphu{
        height:40vw;
    }
    .fagu{
        height:40vw;
    }

    .munnar{
        height:40vw;
    }
    .delhi{
        height:40vw;
    }
    .shimla{
        height: 40vw;
    }
    .jibhi{
        height:40vw;
    }
    .tambon{
        height:40vw;
    }
    .kozhi{
        height:40vw;
    }
    .sigiri{
        height:40vw;
    }
    .muppai{
        height:40vw;
    }
    .chiang{
        height:40vw;
    }
    .kalpeta{
        height:40vw;
    }
    .first_kerala{
        height:40vw;
    }
    .second_kerala{
        height:40vw;
    }
    .tissam{
        height:40vw;
    }
    .second_jibhi{
        height:40vw;
    }
    .kopha{
        height:40vw;
    }
    .tandi{
        height:40vw;
    }
    .mueang{
        height:40vw;
    }
    .kotta{
        height:40vw;
    }
    .yela{
        height:40vw;
    }
    .mae{
        height:40vw;
    }
    .khet{
        height:40vw;
    }
}
@media  screen and (max-width:745px){
    .navbar1_desktop{
        display: none;
    }
    .navbar1_tab{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:50px;
        margin:30px;
        border:1px solid transparent;
        box-shadow:0 2px 5px rgb(0 0 0 / 14%);
        border-radius: 30px;
        padding-left: 20px;
        padding-right: 7px;
        margin-bottom: 0px;
    }
    .nav_fix{
        display: none;
    }
    .any_tab{
        color:#717171;
        font-size:12px;
        line-height:16px;
        display: flex;
        align-items: center;
        gap:10px;
    }
    .tab_img{
        padding: 11px;
        border: 1px solid lightgray;
        border-radius: 30px;
    }
    .tab_headline{
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }
    .search_txt_section{
        display: flex;
        align-items: center;
        gap:30px;
    }
    .navbar2{
        margin-top: 0px;
        border: none;
    }
    .footer_desktop{
        display: none;
    }
    .footer_mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        padding-bottom: 20px;
        background-color: white;
        position: fixed;
        bottom:0;
        left:0;
        width:98%;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    .f-explore{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        filter:grayscale(100%);
        opacity:.5;
        cursor: pointer;
    }
    .f-explore:hover{
        opacity: 1;
        filter: grayscale(0%);
    }
    .f-wish{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        filter:grayscale(100%);
        opacity: .5;
        cursor: pointer;

    }
    .f-wish:hover{
        opacity: 1;
        filter: grayscale(0%);
    }
    .f-log{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        filter:grayscale(100%);
        opacity:.5;
        cursor: pointer;

    }
    .f-log:hover{
        opacity: 1;
        filter: grayscale(0%);
    }
    .foot_mob_txt{
        font-size: 10px;
        line-height: 12px;
        font-weight: 600;
        color:rgb(34, 34, 34);
    }
} 
@media  screen and (max-width:549px){
    .main{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .minhphu{
        height:83vw;
    }
    .fagu{
        height:83vw;
    }

    .munnar{
        height:83vw;
    }
    .delhi{
        height:83vw;
    }
    .shimla{
        height:83vw;
    }
    .jibhi{
        height:83vw;
    }
    .tambon{
        height:83vw;
    }
    .kozhi{
        height:83vw;
    }
    .sigiri{
        height:83vw;
    }
    .muppai{
        height:83vw;
    }
    .chiang{
        height:83vw;
    }
    .kalpeta{
        height:83vw;
    }
    .first_kerala{
        height:83vw;
    }
    .second_kerala{
        height:83vw;
    }
    .tissam{
        height:83vw;
    }
    .second_jibhi{
        height:83vw;
    }
    .kopha{
        height:83vw;
    }
    .tandi{
        height:83vw;
    }
    .mueang{
        height:83vw;
    }
    .kotta{
        height:83vw;
    }
    .yela{
        height:83vw;
    }
    .mae{
        height: 83vw;
    }
    .khet{
        height: 83vw;
    }
}
@media screen and (min-width:1900px){
    body{
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;

    }
    .main{
        grid-template-columns: repeat(5, 1fr);
        margin-right: 3%;
        margin-left:3%;
        
    }
    .minhphu{
        height:14vw;
    }
    .fagu{
        height:14vw;
    }

    .munnar{
        height:14vw;
    }
    .delhi{
        height:14vw;
    }
    .shimla{
        height: 14vw;
    }
    .jibhi{
        height:14vw;
    }
    .tambon{
        height:14vw;
    }
    .kozhi{
        height:14vw;
    }
    .sigiri{
        height:14vw;
    }
    .muppai{
        height:14vw;
    }
    .chiang{
        height:14vw;
    }
    .kalpeta{
        height:14vw;
    }
    .first_kerala{
        height:14vw;
    }
    .second_kerala{
        height:14vw;
    }
    .tissam{
        height:14vw;
    }
    .second_jibhi{
        height:14vw;
    }
    .kopha{
        height:14vw;
    }
    .tandi{
        height:14vw;
    }
    .mueang{
        height:14vw;
    }
    .kotta{
        height:14vw;
    }
    .yela{
        height:14vw;
    }
    .mae{
        height: 14vw;
    }
    .khet{
        height: 14vw;
    }
    .navbar1_desktop{
        max-width: 1500px;
        margin-left: auto;
        margin-right: 20%;
    }
    .navbar2{
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
        margin-right: 20%;
    }
    .footer_desktop{
        left:auto;
        max-width:1500px;
        margin-left:auto;
        margin-right:auto ;
    }
}
@media screen and (max-width:365px){
    .any_tab{
        display: none;
    }
    .any_mob{
        display: flex;
        color:#717171;
        font-size:12px;
        line-height:16px;
        align-items: center;
        gap:10px;
        white-space: nowrap;
    }
    .search_txt_section{
        gap:15px;
    }
}