@font-face {
    font-family:"Bold";
    src: url("fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2");
    font-weight:700;
    font-style: normal;
}
@font-face {
    font-family: "Book";
    src: url("fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Medium";
    src: url("fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2");
    font-weight:500;
    font-style: normal;
}
@font-face {
    font-family:Normal ;
    src: url("/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Small";
    src: url("fonts/KFOmCnqEu92Fr1Mu4mxK.woff2");
    font-weight: 300;
    font-style: normal;
}


.logo{
    color:rgb(233, 77, 77);
}
.head_icon{
    height:30px;
    width:auto;
}
.any_section{
    display: flex;
   

}
.nav_last_button{
    display: flex;
    align-items: center;
    gap:10px;
    padding:2px;
    border:1px solid lightgray;
    border-radius:30px;
}
.navbar1{
    display:flex;
    justify-content: space-around;
}
.host_section{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}
.navbar2_img{
    height:30px;
    width:auto;
}
.navbar2{
    display:flex;
    justify-content: space-between;
    overflow-x: scroll;
    gap:50px;
    padding-top: 20px;
}